extends user-layout

mixin description(label,val)
  dt #{label}
  dd #{val}

block content
  .panel.panel-default
    .panel-heading 
      img.img-circle.profile-image(src='#{user.picture}') 
      |Profile 
    .panel-body
      dl.dl-horizontal
        +description('name',user.name)
        +description('user_id',user.sub)
        +description('nickname',user.nickname)
        +description('updated_at',user.updated_at)